@import "../variables/global.css";

.header{
    background-color: var(--main-red);
    font-size: 4rem;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    
    padding: 1rem;
    text-align: center;
}
