#thereIsNoQuiz{
    padding: 1.3rem;
    border: 1px dashed var(--main-gray);
    border-radius: 5px;
}

p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
   
}

#createQuizBottom{
    font-size: 2rem;
    border-radius: 50px;
    border: 1px dashed var(--main-red);
    padding: 1rem;

    color: var(--main-red);

    cursor: pointer;
}